.img{
    border-radius: 8px;
    width: 400px;
    /* float: left; */
    margin: 10px;  
}

.box{
    /* padding-left: 30%; */
    text-align: justify;
}

.links{
    text-align: center;
}

h1{
    text-align: center;
    padding:3%
}

p{
    font-size: 1.3em;
}